.conteudo {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    height: 100vh;
    position: absolute;
    left: 0;
}
.info {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #FFFFFF;
}
.input {
    border: 1px solid #999999;
    border-radius: 22px;
    min-width: 250px;
    width: 88%;
    margin-right: 12px;
    background: transparent;
    font-size: 18px;
    padding: 10px;
}
button {
    border: 1px solid #999999;
    border-radius: 22px;
    margin-right: 12px;
    background: #2D333B;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px;
}
